# This is Git's per-user configuration file.

[user]
# Please adapt and uncomment the following lines:
	name = Phil Fernandez
	email = norcal618@gmail.com

[pager]
  diff = true
  branch = false
[init]
  templatedir = ~/.git_template

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[filesystem "Oracle Corporation|1.8.0_231|/dev/disk1s5"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
