snippet printf "printf"
printf("${1:%s}", $2); $0
endsnippet


snippet nl
printf("\n");
$0
endsnippet

snippet ps
printf("$1\n");
endsnippet


snippet inc
#include <${1:stdio.h}>
endsnippet


snippet for "for"
for ($1; $2; $3) {
	$4
}
$0
endsnippet


snippet if "if"
if ($1) {
	$2
}
$0
endsnippet


snippet ifelse
if ($1) {
	$2
} else {
	$3
}
$0
endsnippet


snippet elif
if ($1) {
	$2
} else if ($3) {
	$4
} $0
endsnippet

