# -*-muttrc-*-
#
# Command formats for gpg.

#/set crypt_use_gpgme=yes
#/set crypt_autosign=yes
#/set crypt_verify_sig=yes
#/set crypt_replysign=yes
#/set crypt_replyencrypt=yes
#/set crypt_replysignencrypted=yes
#/set crypt_autoencrypt = yes


set pgp_default_key="72C700C8A9717F2C864373B427487BDF9A81D2C5"
set pgp_check_gpg_decrypt_status_fd
set pgp_use_gpg_agent = yes
set pgp_self_encrypt = yes

